.container {
  padding-top: 250px;

}

.textFields {
  width: 350px;
  margin-bottom: 20px;
}

.auth-btn {
  margin-bottom: 30px;
  border-radius: 35px;
  width: 220px;
  align-content: center;
  height: 48px;
  background-color: #002D74;
  border-width: 0px;

}
