<nav class="navbar navbar-light">
  <h4 class="navbar-brand">Sign Up</h4>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a [routerLink]="'/aggiesignin'" class="nav-link">Aggie Sign In</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'/vendorsignin'" class="nav-link driver-signup-link">Vendor Sign In</a>
    </li>
  </ul>
</nav>


<div class="form-container">

  <label>Email</label>
  <input ngModel name="email" #email="ngModel" type="text" class="form-control  textFields">

  <label>Password</label>
  <input ngModel name="password" #password="ngModel" type="text" class="form-control textFields">
  <button (click)="signUserIn(email, password)" class="btn btn-primary auth-btn signup">Sign In</button>
  <a [routerLink]="'/forgotpassword'" class="forgot-password nav-link mt-3 mb-3">Forgot Password?</a>
  <label class="existingMember">Not a Member?</label>
  <button [routerLink]="'/driversignup'" class="btn btn-primary auth-btn">Sign Up</button>
</div>

